<div id="save_progress" class="not_visible" style="text-align:center">
    <div class="note_box"><p>Сохранение займет некоторое время</p></div>
    <div style="margin:0px 0px 0px 300px;">
        <div class="l" style="margin-right:20px;">Загрузка:</div>
        <div class="l" id='progressbar'><img id='indicator' src="{{ STATIC_URL }}/images/upload_progress.jpg"></img></div><span class="l" id="upload_percent"></span><br class="clear"/>
        <span class="not_visible" id="progress_saving">Сохранение данных...</span>
    </div>
</div>
