<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png" />
<title>Copia</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/rating/jquery.rating.css" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.mini.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.color.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.autocomplete.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.bookmarks.js"></script>{% block head %}{% endblock %}
</head>
<body>
{% block body %}
	
{% endblock %}
</body>
</html>
